header{
  padding: 23px 0;
  padding-top: 0;
  padding-bottom: 0;
  height: 70px; /* bildehøyden */
  width: 100%;
  overflow: hidden;
  position:relative;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  z-index: 1;
}
#logginn{
  background-color: white;
  margin: 0;
  padding:0;
  text-align: right;
  width:100%;
  height:50px;
  position: relative;
}
nav{ /*navigeringsmenyen*/
  background-color: white;
  margin: 0;
  padding:0;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  
  top:0;
  left:0;
  right:0;
}

nav ul{ /*lista text osv*/
  margin:0;
  padding:0;
  background-color: white;
  height: 50px;
  text-align: center;
  font-size: 14pt;
  list-style-type: none;
}

nav ul li{
  display: inline-block;
  list-style-type: none;
}

nav ul li a{ /* selve knappen*/
  color:black;
  background-color: white;
  display:block;
  text-decoration: none;
  text-align: center;
  height: 100%;
  margin-left: 20px;
}

li a {
    padding: 13.5px 16px;
    vertical-align: baseline;
}

nav ul li a:hover {
  background-color: #d0d2e2;
}

.aside-div{
	left:0;
	position:fixed;
	width:15%;
	background-color:#f3f3f3;
	margin: 0;
	display:block;
	height:100%;
	bottom:0;
display:inline-block;
	display:block;
}

.aside-div li{
	  border-bottom:solid #615f6a 2px;
	  padding-bottom:5px;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	width:auto;
	height: auto;
	display:table;
	background-color: grey;
	/* fonttexttyper under hentet fra "https://css-tricks.com/snippets/css/better-helvetica/" */
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}

.content {
	height:400px;
	top: 50px;
	-webkit-colums: 100px 3;
	-moz-columns: 100px 3;
	columns: 33% 3;
	width: 70%;
	margin-right: 10%;
	margin-left: 10%;
	-webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
	margin:auto;
}

div {

}
h2 {
	text-align:center;
}
.leggTil,.rediger,.slett {
	background-color:white;
	height:99.5%;
	position: relative;
	top: 100px;
	border: solid 1px;
	float:left;
	width: 100%;
	display: inline-block;
}
.leggTil {
	
	
}
.nymeny {
	float:right;
}
.rediger {
	
	
}
.slett {
	float:right;
	align-content:right;
}
form {
	display: block;
}
table {
	margin: 0 auto;
}