/* CSS Document */
html{
  margin:0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
/* laget av: Tobias, Kontrolert av Ole */
header{
  padding: 23px 0;
  padding-top: 0;
  padding-bottom: 0;
  height: 70px; /* bildehøyden */
  width: 100%;
  overflow: hidden;
  position:relative;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  z-index: 1;
}
#logginn{
  background-color: white;
  margin: 0;
  padding:0;
  text-align: right;
  width:100%;
  height:50px;
  position: relative;
  
}


nav{ /*navigeringsmenyen*/
  background-color: white;
  margin: 0;
  padding:0;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  position: relative;
}

ul{ /*lista text osv*/
  margin:0;
  padding:0;
  background-color: white;
  height: 50px;
  text-align: center;
  font-size: 14pt;
  list-style-type: none;

}

nav ul li{
  display: inline-block;
  list-style-type: none;
}

nav ul li a{ /* selve knappen*/
  color:black;
  background-color: white;
  display:block;
  text-decoration: none;
  text-align: center;
  height: 100%;
  margin-left: 20px;
}

li a {
    padding: 13.5px 16px;
    vertical-align: baseline;
}

.aside-div li{
	  border-bottom:solid #615f6a 2px;
	  padding-bottom:5px;
}

nav ul li a:hover {
  background-color: #d0d2e2;
}

body{
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  width:auto;
  height: auto;
  display:table;
  background-color: grey;
  /* fonttexttyper under hentet fra "https://css-tricks.com/snippets/css/better-helvetica/" */
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
}
textarea {
    overflow-y: scroll;
    height: 100px;
    resize: none; /* Remove this if you want the user to resize the textarea */
	}
.input_overskrift{
	margin-bottom:15px;

}
.aside-div{
	left:0;
	position:fixed;
	width:15%;
	background-color:#f3f3f3;
	margin: 0;
	display:block;
	height:100%;
	bottom:0;
	display:inline-block;
	display:block;
}

.mainContent{ /* Hovedinnholdet på siden */
padding:1%;
  line-height: 25px;
border-left:solid pink 5px;
border-top:solid pink 5px;
background-color: white;
position:relative;
height:100%;
width: 82.7%;
float: right;
bottom:0;
margin:0;

text-align:left;
}

.wrapper_main {

}

ul {
  list-style-type: none;
}

/*~~~~~~~~RESPONSIVT DESIGN ~ ut ifra størrelse på skjerm~~~~~~~~~~*/
/*-----------1000PX--------------*/
/* laget av: Gabriel, kontrollert av Tobias, Christian og Ole */
@media screen and (max-width: 1000px) {
    .kontakt1{
	margin-right:25%;
	padding-bottom:1rem;
	margin-top:5px;
    }
	.kart{
	float:right;
	margin-right:25%;
	padding-bottom:1rem;
	margin-top:5px;
	}
	.sosmed{
	float:right;
	margin-right:25%;
	padding-bottom:1rem;
	margin-top:5px;
	}
  nav ul{
    height: 100px;
  }
}

/*-----------911PX--------------*/

@media screen and (max-width: 911px) {
    .kontakt1{
	margin-right:25%;
	padding-bottom:1rem;
	margin-top:5px;
    }
	.kart{
	float:right;
	margin-right:25%;
	padding-bottom:1rem;
	margin-top:5px;
	}
	.sosmed{
	float:right;
	margin-right:25%;
	padding-bottom:1rem;
	margin-top:5px;
	}
}
/*-----------645PX--------------*/

@media screen and (max-width: 645px) {
  .body{
    width: 90%;
  }
  .content{
    width:100%;
  }
  .middle-sidebar{
    margin-top:2%;
  }
  .bottom-sidebar{
    margin-top:2%;
  }
    .kontakt1{
	margin-right:25%;
	padding-bottom:1rem;
	margin-top:5px;
    }
	.kart{
	float:right;
	margin-right:25%;
	padding-bottom:1rem;
	margin-top:5px;
	}
	.sosmed{
	float:right;
	margin-right:25%;
	padding-bottom:1rem;
	margin-top:5px;
	}
  #box{
    left:0;
    position: absolute;
  }
}

/*-----------480PX--------------*/
@media screen and (max-width: 480px) {
    #wrapper_foot {
       margin:1rem;
    }
}

/*-----------445PX--------------*/
@media screen and (max-width: 445px) {
    .kontakt1{
	  float:left;
	  margin:5px;
    }
	.kart{
	float:left;
	  margin:5px;
	}
	.sosmed{
	float:left;
	  margin:5px;
	}
#box{
  width: 10%;
}
nav ul{
  height: 150px;
}
}

/*-----------300PX--------------*/
@media screen and (max-width: 300px) {
    .kart{
     margin:0;
    }
}
